body{
    background: #323232;
}
#tab-wrap{
    width: 406px;
    height: 286px;
    margin: 12% auto 0 auto;
}
#tab-wrap .tab-nav{
    font-size: 0;
    margin: 0;
    padding: 0;
}
#tab-wrap .tab-nav li{
    font-size: 12px;
    display: inline-block;
    padding: 8px 10px;
    list-style-type: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px 3px 0 0;
    background: #767676;
}
#tab-wrap .tab-nav .nav-hover{
    background: #565656;
}

#tab-wrap .tab-nav li + li{
    margin-left: 5px;
}
#tab-wrap .tab-nav .active{
    cursor: default;
    color: #777;
    background: #fff;
}
#tab-wrap .tab-panel{
    position: absolute;
    display: none;
    padding: 3px;
    background: white;
}
#tab-wrap .current{
    display: inline-block;
}
#tab-wrap .tab-panel img{
    display: block;
    width: 400px;
}
